*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* body{
    background-image: url(../imagens/Netflix-está-removendo-filmes-mais-rápido.jpg);
    background-repeat: no-repeat;
    background-size: cover;

} */
header{
    padding: 10px 0px;
    width: auto;
    box-sizing: border-box;
    background-color: rgba(0 , 0 , 0, .9);
}
header img{
    width: 95px;
    height: 40px;
    margin-left: 20px;
}


.painel-formulario{
    justify-content: center;
}

form{
    width: auto;
    padding: 20px 10px;
    background-color: rgba(0 , 0 , 0, .9);
    color: white;
    justify-content: center;
    font-size: 10px;
}

form h1{
    margin: 30px 0px 25px;
    font-size: 40px;
}

form input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0px 20px;
    padding: 15px;
}
form input[type="password"]{
    margin-bottom: 35px;
}
form input[type="submit"]{
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1.2px;
    color: white;
    text-transform: uppercase;
}

.verificacao{
    margin: 10px 0px 30px;
}
.verificacao input{
    margin: 0px 5px 0px 0px;
    width: 15px;
    display: inline-block;
}
.verificacao label{
    font-size: 14px;
}
.verificacao p{
    float: right;
}
.verificacao p > a{
    color: white;
    margin-right: 5px;
    font-size: 14px;
    text-decoration: unset;
}


.form-text h3{
    margin: 0px 0px 30px;
    font-size: 16px;
    padding-bottom: 30px;
}
.form-text h3 > a{
    color: white;
    text-decoration: unset;
    margin-left: 5px;
}
.form-text h3 > a:hover{
    color: blue;
    text-decoration: underline;
}
.form-text p{
    font-size: 15px;
}
.form-text p a{
    margin: 3px 0px 0px 8px;
    color: gray;
}


footer{
    color: white;
    background-color: rgba(0 , 0 , 0, .9);
    padding: 15px 0px 30px;
}
footer p:nth-child(1){
    margin: 15px 10px;

}
footer p a:nth-child(1){
    color: rgb(199, 180, 180);
}
.flexbox-footer-pai{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.flexbox-footer-filho{
    margin: 15px 10px;
}
.flexbox-footer-filho a{
    display: block;
    color: white;
    text-decoration: unset;
    margin: 15px 0px;
}
footer select{
    margin: 15px 10px;
    padding: 30px;
}